<Block>
    <div>
        {% block "block" %}
            <i>{{ foo }}</i>
        {% endblock %}
    </div>
</Block>
<TwoBlocks>
    <div>
        {% block "one" %}
            <i>{{ foo }}</i>
        {% endblock %}
        {% block "two" %}
            <i>{{ foo }}</i>
        {% endblock %}
    </div>
</TwoBlocks>
<OptimizeNestedBlockInIf>
    <div>
        {% if cond %}
            {% block "then" %}
                true
            {% endblock %}
        {% else %}
            {% block "otherwise" %}
                false
            {% endblock %}
        {% endif %}
    </div>
</OptimizeNestedBlockInIf>