<Block>
    <div>
        {% block "block" %}
            <i>{{ foo }}</i>
        {% endblock %}
    </div>
</Block>
<TwoBlocks>
    <div>
        {% block "one" %}
            <i>{{ foo }}</i>
        {% endblock %}
        {% block "two" %}
            <i>{{ foo }}</i>
        {% endblock %}
    </div>
</TwoBlocks>
<OptimizeNestedBlockInIf>
    <div>
        {% if cond %}
            {% block "then" %}
                true
            {% endblock %}
        {% else %}
            {% block "otherwise" %}
                false
            {% endblock %}
        {% endif %}
    </div>
</OptimizeNestedBlockInIf>
<BlockWithProperNames>
    <div>
        {% block "BlockWithProperNames.1" %}
            1
        {% endblock %}
        {% for array %}
            {% block "BlockWithProperNames.2" %}
                2
                {% if cond %}
                    {% block "BlockWithProperNames.3" %}
                        3
                    {% endblock %}
                {% endif %}
            {% endblock %}
        {% endfor %}
        {% if !cond %}
            {% if cond %}
                {% block "BlockWithProperNames.4" %}
                    4
                {% endblock %}
            {% else %}
                {% block "BlockWithProperNames.5" %}
                    5
                {% endblock %}
            {% endif %}
        {% endif %}
    </div>
</BlockWithProperNames>