<For>
    <ul>
        {% for key, value of list %}
            <li>{{ key }}:{{ value }}</li>
        {% endfor %}
    </ul>
</For>
<ForA>
    <div>
        {% for value of list %}
            <p>{{ value }}{{ ext }}</p>
        {% endfor %}
    </div>
</ForA>
<ForObject>
    <div>
        {% for key, value of obj %}
            {{ key }}: {{ value }};
        {% endfor %}
    </div>
</ForObject>
<ForObjectWithoutOptions>
    <div>
        {% for obj %}
            {{ name }};
        {% endfor %}
    </div>
</ForObjectWithoutOptions>
<ForWithCustomTag>
    <div>
        <MyUl list="{{ list }}"/>
    </div>
</ForWithCustomTag>
<MyUl>
    <ul>
        {% for element of list %}
        <MyLi props="{{ element }}"/>
        {% endfor %}
    </ul>
</MyUl>
<MyLi>
    <li>{{ props.id + ':' + props.value }}</li>
</MyLi>