<monkberry>
    <div>
        Monkberry Moon Delight
    </div>
</monkberry>
<test1>
    <p>{{ text }}</p>
</test1>
<test2>
    <input type="text" value="{{ value }}">
</test2>
<test3>
    <p>foo {{ bar }} baz</p>
</test3>
<test4>
    <div class="foo {{ bar }} baz"></div>
</test4>
<test5>
    <div class="{{ foo }} {{ bar }}"></div>
</test5>
<test6>
    <ul>
        {% for key, value of list %}
        <li>{{ key }}:{{ value }}</li>
        {% endfor %}
    </ul>
</test6>
<test6a>
    <div>
        {% for value of list %}
        <p>{{ value }}{{ ext }}</p>
        {% endfor %}
    </div>
</test6a>
<test7>
    <p>first</p>

    <p>second</p>
</test7>
<test8>
    <div>
        <test1/>
    </div>
</test8>
<test9>
    <div>
        <custom-inline>
            <p>inline</p>
        </custom-inline>
        <custom-inline/>
    </div>
</test9>
<test10>
    <div>
        <p>
            {% if a %}a{% endif %}
        </p>

        <p>
            {% for b %}b{% endfor %}
        </p>
    </div>
</test10>
<test11>
    <div>
        {% if a %}a{% endif %}
        {% if b %}b{% endif %}
    </div>
</test11>
<test12>
    <div>
        {% if a %}a{% endif %}
        {% for b %}i{% endfor %}
    </div>
</test12>
<test-if>
    <div>
        {% if test %}
        true: {{ context }}
        {% endif %}
    </div>
</test-if>
<test-filters>
    <p>{{ text | append('case') | upperCase }}</p>
</test-filters>
<test-expressions>
    <a title="{{ (a + b) * c / d }}">{{ more.amazing + features[0] + features[1] }}</a>
</test-expressions>
<test-expression-if>
    <div>
        {% if array.indexOf(1) != -1 %}(one){% endif %}
        {% if array.indexOf(look) != -1 %}{{ look }}<p>{{ indep }}</p>{% endif %}
    </div>
</test-expression-if>
<test-parent-values>
    <p>{{ value }}</p>
    <p>{% if on %}{{ value }}{% endif %}</p>
    <p>{% for i of each %}{{ value }}{% endfor %}</p>
</test-parent-values>
<test-parent-values-complex>
    <p>{{ a + b }}</p>
    <p>{% if on %}{{ a - b }}{% endif %}</p>
    <p>{% for i of each %}{{ a * b }}{% endfor %}</p>
</test-parent-values-complex>
