<RegressionParentValues>
    <p>{{ value }}</p>
    <p>{% if on %}{{ value }}{% endif %}</p>
    <p>{% for i of each %}{{ value }}{% endfor %}</p>
</RegressionParentValues>
<RegressionParentValuesComplex>
    <p>{{ a + b }}</p>
    <p>{% if on %}{{ a - b }}{% endif %}</p>
    <p>{% for i of each %}{{ a * b }}{% endfor %}</p>
</RegressionParentValuesComplex>
<RegressionNestedViews>
    <p>
        {% for i of each %}
            {% if on %}
                {{ value }}
            {% endif %}
        {% endfor %}
    </p>
</RegressionNestedViews>
<FirstLevelStatements>
    text
    {% if cond %}
        <div class="if">ok</div>
    {% endif %}
    {% for loop %}
        <div class="for">ok</div>
    {% endfor %}
    <first-level-tag on="{{ tag }}">
        <div class="custom">ok</div>
    </first-level-tag>
    {% unsafe "<i class='unsafe'>" + xss + "</i>" %}
</FirstLevelStatements>
<ReIfCustom>
    <div>
        {% if test %}
            <Tag/>
        {% endif %}
    </div>
</ReIfCustom>
<ReIfUnsafe>
    <div>
        {% if test %}
            <div>
                {% unsafe "<i>unsafe</i>" %}
            </div>
        {% endif %}
    </div>
</ReIfUnsafe>
<ReForCustom>
    <div>
        {% for array %}
            <Tag/>
        {% endfor %}
    </div>
</ReForCustom>
<UpdateLoopsInCustomTags>
    <i>
        <custom-tag-with-loop list={{ list }} foo={{ foo }} bar={{ bar }}/>
    </i>
</UpdateLoopsInCustomTags>
<custom-tag-with-loop>
    <em>
        {% for item of list %}
            <b class="{{ foo }}{{ bar }}">{{ item }}</b>
        {% endfor %}
    </em>
</custom-tag-with-loop>
<UpdateLocalVars>
    <p>
        {% if list %}
            {% for t1 of list %}
                {% for value of t1 %}
                    <i>{{ value }}</i>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </p>
</UpdateLocalVars>
<ReLoopOptionsCache>
    <ul>
        {% for code, item of currencies %}
            {% if code == currency %}
                <li class="selected">
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% else %}
                <li>
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</ReLoopOptionsCache>
