<div>
    Hello world!
    {{ value }}
    <div class="wow">
        Internal
    </div>
    {% if cond == true %}
        <div>True</div>
    {% else %}
        {{ beta ? 1 : 0 }}
    {% endif %}
</div>